*{
box-sizing:border-box;
}


body{

margin:0;

font-family:Arial, sans-serif;

background:#f4f7fb;

color:#333;

transition:0.3s;

}



nav{

display:flex;

justify-content:space-between;

align-items:center;

padding:20px 50px;

background:#0d47a1;

color:white;

position:sticky;

top:0;

}



.logo{

font-size:25px;

font-weight:bold;

}



nav ul{

display:flex;

gap:25px;

list-style:none;

}



nav a{

color:white;

text-decoration:none;

}



#theme{

border:none;

padding:10px;

cursor:pointer;

}



.hamburger{

display:none;

font-size:25px;

}



.hero{

text-align:center;

padding:100px 20px;

background:#1565c0;

color:white;

}



.hero h1{

font-size:45px;

}



.btn{

display:inline-block;

margin-top:20px;

padding:12px 25px;

background:white;

color:#1565c0;

border-radius:5px;

text-decoration:none;

}



section{

max-width:1000px;

margin:auto;

padding:50px 20px;

}



h2{

color:#1565c0;

text-align:center;

}



.card{

background:white;

padding:25px;

border-radius:10px;

margin:20px 0;

box-shadow:0 5px 15px #ddd;

}



.grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(250px,1fr));

gap:20px;

}



footer{

background:#222;

color:white;

text-align:center;

padding:20px;

}





.dark{

background:#111;

color:white;

}


.dark .card{

background:#222;

color:white;

}





@media(max-width:700px){


nav ul{

display:none;

flex-direction:column;

}



nav ul.show{

display:flex;

}



.hamburger{

display:block;

}


.hero h1{

font-size:32px;

}


}
